<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Records</title>
</head>
<body>
    <h1>Departing Miami</h1>
    <table border="1">
        <tr>
            <th>Flight #</th>
            <th>Departure Time</th>
            <th>Departure Estimated</th>
            <th>Departure Actual</th>
            <th>Destination</th>
            <th>Arrival Time</th>
            <th>Arrival Estimated</th>
            <th>Arrival Actual</th>
            <th>Status</th>
            <th>Departure Delay</th>
            <th>Arrival Delay</th>
        </tr>
        {% for flight in flights %}
        {% if flight.dep_iata == 'MIA' %}
        <tr>
            <td>{{ flight.flight_iata }}</td>
            <td>{{ flight.dep_time }}</td>
            <td>{{ flight.dep_estimated }}</td>
            <td>{{ flight.dep_actual }}</td>
            <td>{{ flight.arr_iata }}</td>
            <td>{{ flight.arr_time }}</td>
            <td>{{ flight.arr_estimated }}</td>
            <td>{{ flight.arr_actual }}</td>
            <td>{{ flight.status }}</td>
            <td>{{ flight.dep_delayed }}</td>
            <td>{{ flight.arr_delayed }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <h1>Arriving To Miami</h1>
    <table border="1">
        <tr>
            <th>Flight #</th>
            <th>Departure Time</th>
            <th>Departure Estimated</th>
            <th>Departure Actual</th>
            <th>Origin</th>
            <th>Arrival Time</th>
            <th>Arrival Estimated</th>
            <th>Arrival Actual</th>
            <th>Status</th>
            <th>Departure Delay</th>
            <th>Arrival Delay</th>
        </tr>
        {% for flight in flights %}
        {% if flight.dep_iata != 'MIA' %}
        <tr>
            <td>{{ flight.flight_iata }}</td>
            <td>{{ flight.dep_time }}</td>
            <td>{{ flight.dep_estimated }}</td>
            <td>{{ flight.dep_actual }}</td>
            <td>{{ flight.dep_iata }}</td>
            <td>{{ flight.arr_time }}</td>
            <td>{{ flight.arr_estimated }}</td>
            <td>{{ flight.arr_actual }}</td>
            <td>{{ flight.status }}</td>
            <td>{{ flight.dep_delayed }}</td>
            <td>{{ flight.arr_delayed }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</body>
</html> 
